* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --trinity-blue: rgb(0,0,250);
    --trinity-gold: rgb(250,250,0);
}

body {
    justify-content: center;
    align-content: center;
}

#clock {
    color: grey;
    font-weight: 900;
    font-size: 20vw;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    transition: color 1s;
    

    text-align: center;
}

#block {
    background-color: white;

    border-radius: 25px;
    margin: 0 3vw;

    box-shadow: 5px 5px rgb(10, 10, 10, 0.5);

    transition: backgroundColor 2s;
}

#description {
    color: black;
    font-weight: 900;
    font-size: 5vw;

    text-align: left;

    margin-top: 7vw;
    margin-left: 2.2vw;

    margin-bottom: 2vw;
}

#info-block {
    margin-top: 20px;
    background-color: rgb(10, 25, 70, 0.1);
    padding: 10px 5px 40px;
    border-radius: 25px;
}

#day-type {
    position: absolute;
    margin-left: 2vw;
    margin-top: 1vw;

    font-size: 5vw;
    font-weight: 900;

    color: white;
    font-family: sans-serif;

    -webkit-text-stroke: 1px black;
}

@media screen and (max-width: 500px) {
    #day-type {
        opacity: 0;
    }

    #description {
        margin-top: 5vw;
        margin-bottom: 5vw;
        text-align: center;
    }
}

#verison-num {
    position: relative;

    bottom: 0;
    left: 0;
}

#week-schedule {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;

    margin: 0;

}

#week-schedule > p {
    color: var(--trinity-blue);
    font-size: 5vw;
    font-weight: 900;

    margin-top: 10px;

    margin-bottom: 10px;

    padding: 0.5vw 1.7vw;
}

/*
#week-schedule > p:first-child {
    color: red !important;
}
*/

#week-schedule > .current-day {
    border-radius: 1.6vw;
    /*box-shadow: 3px 3px rgba(3, 3, 24, 0.4);*/

    background-color: var(--trinity-blue);
    color: var(--trinity-gold);
}

#footer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    
}

#help {
    font-weight: 700;
    align-self: center;
}